.vs
Debug
WordFrequencyAnalyzer/Data/record*
WordFrequencyAnalyzer/Debug
WordFrequencyAnalyzer/WordFrequencyAnalyzer
WordFrequencyAnalyzer/WordFrequencyAnalyzer.ilk
WordFrequencyAnalyzer/WordFrequencyAnalyzer.pdb
WordFrequencyAnalyzer/WordFrequencyAnalyzer.exe
WordFrequencyAnalyzer/WordFrequencyAnalyzer.vcxproj
WordFrequencyAnalyzer/WordFrequencyAnalyzer.vcxproj.filters
WordFrequencyAnalyzer.sln
